@import url(https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Rubik+80s+Fade&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Londrina+Outline&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+80s+Fade&family=Rubik+Burned&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Londrina+Outline&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+80s+Fade&family=Rubik+Burned&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
}

.header{
    font-family: 'Hanken Grotesk';
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    box-shadow: 0.5rem 3px 15px rgb(0,0,0,0.3);
}
.logo a{
    height: 60px;
    left: 25px;  
    position: absolute;
    padding-top: 30px;
    
}
.bold{
    font-weight: 700;
}

.logo img{
    height: 60px;
    margin-right: 1110px;
}

.navbar {
    width: 100%;
    background-color: #fcfcfc;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 800;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-2 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    z-index: 9000;
    display: flex;
    justify-content: center;
}

.navbar-2 a {
    color: #fff;
    text-decoration: none;
    padding-top: 8px;
    font-size: small;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    height: 90px;
    margin-left: 1100px;
}

.navbar li {
    margin-right: 20px; 
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar li a {
    display: inline-block;
    padding: 16px;
    text-decoration: none;
    color: #00156e;
    font-size: 1.2rem;
    font-style: normal;
    padding-top: 45px;
    font-family: "Source Code Pro", monospace;
    
}

.navbar li a:after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #00156e;
    transition: 0.5s ease;
    display: block;
}

.navbar li a:hover::after {
    width: 100%;
}

.side-nav{
    font-size: 2rem;
    margin-right: 30px;
    color: #00156e;
    text-decoration: none;
}
.logo a{
    display: inline;
    font-size: 1.7rem;
    font-weight: 500;
    color: #00156e;
    text-decoration: none;
    line-height: 52px;
} 
.underline{
    text-decoration: underline;
}
  

body{
    font-family: 'Hanken Grotesk';
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffff;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    scroll-behavior: smooth;
}
section .pan{
    height: 10px;
}

/*section-1*/
.sec-1{
    background-image: url("images/home-bg.svg");
    background-size: cover;
    background-position: center; 
    height: 100vh;
    text-align: left;
    color: black;
    overflow: hidden;  
    z-index: -99;
} 
.sec-1 img{
   overflow: hidden;
    width: 500px;
    left: 880px;
    bottom: 100px;
    position: absolute;
}
.btn-1 {
    position: absolute;
    text-decoration: none;
    color: #000;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    top: 575px;
    left: 105px;
    display: inline-block;
    padding: 13px 37px; 
    background-color: #fff; 
    border: none;
    border-radius: 20px; /* Adjust this value for rounder edges */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.btn-1:hover{
    background-color: #ccc;
}

.sec-1-content{
    max-width: 600px;
    padding: 20px;
    margin-top: -300px;
    margin-right: 770px; 
    text-align: left; 
    display: inline-block;
    color: #fff;
    font-weight: 200;
   
}
.sec-1-content .h1{
    top: 170px;
    font-size: 80px;
    left: 100px;
    font-weight: 700;
    position: absolute;
    width: 900px;
    font-family: "Poppins", sans-serif;
    line-height:1.3;

}
.sec-1-content .h2{
    font-size: 150px;
    font-weight: 350;
    position: absolute;
    margin-bottom: 0px;
    left: 100px;
    font-family: "Poppins", sans-serif;
    top: 250px;
}
.sec-1-content p {
    top: 490px;
    font-size: 24px;
    margin-bottom: 20px;
    width: 39%;
    position: absolute;
    left: 110px;
    font-family: 'Hanken Grotesk';
    font-weight:350;
}

/*section-2*/
.sec-2{
    display: flex;
    align-items: center;
    padding: 88px 0;
  /*  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 25%, #21234f 100%);*/

}
.sec-2{
    background-image: url("images/sec-1-1-home.svg");
    background-size: cover;
    background-position: center; 
    height: 100vh;
    text-align: left;
    
    overflow: hidden;  
    
} 
.sec-2-content{
    flex: 1;
    max-width: 600px;
    padding-right: 20px;
    color: #fff;
    margin-right: 770px; 
    text-align: left; 
    display: inline-block;
    margin-top: 80px;
}
.sec-2 h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.sec-2 p {
    font-size: 18px;
    margin-right: 20px;
    text-align: justify;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 5px 20px; 
    background-color: #fff; 
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ccc;
}

.sec-2-image{
    max-width: 50%;
    margin-bottom: 20px;   
}
.sec-2-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    position: absolute;
    top: 800px;
    margin-top: 80px;
    filter: drop-shadow(0px 4px 8px rgb(0, 0, 0, .5));
}


/*section-3*/
.sec-3{
    padding: 88px 0;
    text-align: center;
    margin-bottom: 0px;
    overflow-x: hidden;
    background-image: linear-gradient(339deg, rgba(47,47,47, 0.07) 0%, rgba(47,47,47, 0.07) 42%,transparent 42%, transparent 99%,rgba(17,17,17, 0.05) 99%, rgba(17,17,17, 0.05) 100%),linear-gradient(257deg, rgba(65,65,65, 0.06) 0%, rgba(65,65,65, 0.06) 11%,transparent 11%, transparent 92%,rgba(53,53,53, 0.04) 92%, rgba(53,53,53, 0.04) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19,19,19, 0.03) 45%, rgba(19,19,19, 0.03) 100%),linear-gradient(29deg, rgba(28,28,28, 0.05) 0%, rgba(28,28,28, 0.05) 33%,transparent 33%, transparent 40%,rgba(220,220,220, 0.19) 40%, rgba(220,220,220, 0.19) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));

}
.sec-3 h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: black;
}
.sec-3-collections{
    display: flex;
    justify-content: center;
}
.sec-3-collection{
    max-width: 300px;
    height: auto;
    text-align: left;
    padding-right: 15px;
}

.sec-3-collection h3{
    font-size: 22px;
    margin-bottom: 10px;
    color: black;
    margin-left: 15px;
}
.sec-3-collection p{
    font-size: 14px;
    margin-bottom: 00px;
    color: black;
    margin-left: 15px;
}
.sec-3-collection img{
    width: 260px;
    margin-left: 15px;
}
.sec-3-collection .card::after{
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 0.4 ease-in-out;
}
.sec-3-collection .card:hover img{
    filter: grayscale(1) brightness(0.4);
}
.sec-3-collection .card:hover::after{
    opacity: 1;
    inset: 20px;
}


/* Footer */
.footer {
    background-color: black;
    padding: 40px 0;
    color: #ccc;
    text-align: center;
    font-family: 'Hanken Grotesk';
    padding-top: 140px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    max-width: 150px;
    position: absolute;
    left: 0;
}
.footer-logo a{
    
    position: absolute;
    left: 75px;
    text-decoration: none;
    color: #ccc;
    font-family:'Hanken Grotesk';
    font-size: 32px;
    z-index: 9999;
    top: 2230px;
    
    
}
.footer-links,
.footer-others,
.footer-etc,
.footer-etcs {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: space-between; 
    margin-bottom: 20px; 
    top: 2230px;
    font-size: small;
}
.footer-social a,
.footer-links a:hover,
.footer-others a:hover,
.footer-etc a:hover,
.footer-etcs a:hover{
    color: white; 
}


.footer-links a,
.footer-others a,
.footer-etc a,
.footer-etcs a {
    color: #ccc;
    text-decoration: none;
    margin: 5px ;
}
.footer-links{
    position: absolute;
    right: 445px;
}
.footer-others{
    position: absolute;
    right: 625px;
}
.footer-etc{
    position: absolute;
    right: 795px;
}
.footer-etcs{
    position: absolute;
    right: 965px;
}



/* Styles for the input field */
.wrap-input-15 .input {
  width: calc(20% - 50px); 
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  padding: 7px 15px;
  border: 1px solid #ccc;
  position: relative;
  background: transparent;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  

}


.wrap-input-15 .subscribe-button {
  width: 80px; 
  height: 36px;
  border: 1px solid #ccc;
  background:transparent;
  color: white;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 15px;
  transition: background-color 0.3s;
  border-radius: 0; 
}

.wrap-input-15 .subscribe-button:hover {
  background-color: #00156e;
}

.wrap-input-15 .subscribe-button:focus {
  outline: none;
  border-radius: 0; 
}

/* Container styles */
.wrap-input-15 {
  width: 80%;
  margin: 40px 3%;
  position: absolute; 
  right: -900px; 
  top: 2225px;
  display: flex; 
 
}

.textk span{
  font-size: smaller;  
  position: absolute;
  top: -35px;
  color: #ccc;
}




.footer-separator {
    width: 90%;
    height: 0.2px;
    background-color: white;
    margin: 20px auto; 
}


.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.footer-social a {
    color: #ccc;
    margin: 0 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-icon {
    font-size: 16px;
    border: 1px solid #ccc;
    
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.footer-text {
    font-size: 14px;
}